<div class="meet-about-wrapper container full-width">

  <h3 class="meet-about-title" style="color:{{ section.settings.page-text-color }}">{{ page.title | remove: "-PHILLIP"}}</h3>
  {% for block in section.blocks %}
    {% case block.type %}

      {% when 'image-text-side' %}
      <div class="image-text-content-wrapper container full-width" style="background-color:{{ block.settings.image-text-bg-color }}">

        {% if block.settings.image_text_alignment == "image-right" %}

            <div class="text-side-content one-half-cgc" >
              <h2 style="color:{{ block.settings.text-side-color }}; border-bottom: 4px solid {{ block.settings.text-side-color}}">
                {{ block.settings.image-text-header }}
              </h2>
              <div class="text-value" style="color:{{ block.settings.text-side-color }}">{{ block.settings.section-content }}</div>
            </div>
            <div class="image-side-content one-half-cgc" style="float: right;">
              <img src="{{ block.settings.image-side-content | img_url: '500x' }}" alt="">
            </div>

        {% else %}

            <div class="image-side-content one-half-cgc">
              <img src="{{ block.settings.image-side-content | img_url: '500x' }}" alt="">
            </div>
            <div class="text-side-content one-half-cgc" style="float: right;" >
              <h2 style="color:{{ block.settings.text-side-color }}; border-bottom: 4px solid {{ block.settings.text-side-color}}">
                {{ block.settings.image-text-header }}
              </h2>
              <div class="text-value" style="color:{{ block.settings.text-side-color }}">{{ block.settings.section-content }}</div>
            </div>

        {% endif %}
      </div>


      {% when 'video-text-side'%}

        <div class="video-section-wrapper container full-width" style="background-color:{{ block.settings.video-section-bg-color }}">

        {% if block.settings.video_text_alignment == "video-right" %}

          <div class="text-side-video one-half-cgc" >
            <h2 style="color:{{ block.settings.video-side-color }}; border-bottom: 4px solid {{ block.settings.video-side-color}}">
              {{ block.settings.video-text-header }}
            </h2>
            <div class="text-value" style="color:{{ block.settings.video-side-color }}">{{ block.settings.video-section-content }}</div>
          </div>
          <div class="video-side-content one-half-cgc" style="float: right;">
              <!-- Copy & Pasted from YouTube -->
              <iframe width="100%" height="" src="{{ block.settings.video-url }}" frameborder="0" allowfullscreen allow="autoplay"></iframe>
          </div>

        {% else %}

        <div class="video-side-content one-half-cgc">
            <!-- Copy & Pasted from YouTube -->
            <iframe width="100%" height="" src="{{ block.settings.video-url }}" frameborder="0" allowfullscreen allow="autoplay"></iframe>
        </div>
        <div class="text-side-video one-half-cgc" style="float: right;">
          <h2 style="color:{{ block.settings.video-side-color }}; border-bottom: 4px solid {{ block.settings.video-side-color}}">
            {{ block.settings.video-text-header }}
          </h2>
          <div class="text-value" style="color:{{ block.settings.video-side-color }}">{{ block.settings.video-section-content }}</div>
        </div>

         {% endif %}
        </div>

        {% when 'offset-image-text' %}

        {%- if block.settings.offset_image_bg -%}
          {%- assign offset_bg = block.settings.offset_image_bg| img_url: '1800x' -%}
        {%- else -%}
          {%- assign offset_bg = 'blank.svg' | asset_url -%}
        {%- endif -%}

        <div class="offset-wrapper container full-width">

          <div class="offset-image-section one-half-cgc">
            <div class="image-background-block" style="background-color:{{ block.settings.offset-bg-color }}"></div>
            <div class="offset-image-border-line" style="background-color:{{ block.settings.offset-text-color }}"></div>
            <div class="image-offset-container" style="background-image:url({{offset_bg}})"></div>
          </div>
          <div class="offset-text-section one-half-cgc" >
            <div class="offset-text-container" style="background-color:{{ block.settings.offset-bg-color }}">
              <h2 style="color:{{ block.settings.offset-text-color }}; border-bottom:4px solid {{ block.settings.offset-text-color }}">{{block.settings.offset-section-title}}</h2>
              <div class="offset-section-content" style="color:{{ block.settings.offset-text-color }};">{{ block.settings.offset-section-content }}</div>
              <div class="text-offset-border-line" style="background-color:{{ block.settings.offset-text-color }}"></div>
            </div>
          </div>

        </div>

    {% endcase %}
  {% endfor %}

</div>

<style>
  .custom-template{
    width: 100%;
   }
</style>


{% schema %}
{
  "name": "About Us content",
  "settings": [
  {
     "type":      "color",
     "id":        "page-text-color",
     "label":     "Page title text color",
     "default":   "#B3C2B8"
  }
  ],
  "blocks": [
  {
    "type": "image-text-side",
    "name": "Image and Text",
    "settings": [
    {
       "type":      "color",
       "id":        "image-text-bg-color",
       "label":     "Background color",
       "default":   "#B3C2B8"
    },
    {
       "type":      "color",
       "id":        "text-side-color",
       "label":     "Text color",
       "default":   "#FBFAFA"
    },
    {
       "type":      "text",
       "id":        "image-text-header",
       "label":     "Section Title",
       "default":   "Title"
    },
    {
       "type": "richtext",
       "id": "section-content",
       "label": "Section Content",
       "default": "<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>"
    },
    {
      "type": "select",
      "id": "image_text_alignment",
      "label": "Image and text alignment",
      "default": "image-right",
      "options": [
        { "value": "image-right", "label": "Text left image right"},
        { "value": "image-left", "label": "Text right image left"}
      ]
    },
    {
      "type": "image_picker",
      "id": "image-side-content",
      "label": "Logo image"
    }
    ]
  },
  {
    "type": "video-text-side",
    "name": "Video and Text",
    "settings": [
    {
       "type":      "color",
       "id":        "video-section-bg-color",
       "label":     "Background color",
       "default":   "#B3C2B8"
    },
    {
       "type":      "color",
       "id":        "video-side-color",
       "label":     "Text color",
       "default":   "#FBFAFA"
    },
    {
       "type":      "text",
       "id":        "video-text-header",
       "label":     "Section Title",
       "default":   "Title"
    },
    {
       "type": "richtext",
       "id": "video-section-content",
       "label": "Section Content",
       "default": "<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>"
    },
    {
      "type": "select",
      "id": "video_text_alignment",
      "label": "Image and text alignment",
      "default": "video-right",
      "options": [
        { "value": "video-right", "label": "Text left video right"},
        { "value": "video-left", "label": "Text right video left"}
      ]
    },
    {
     "id": "video-url",
     "type": "text",
     "label": "Video Url"
    }

    ]
  },
  {
    "type": "offset-image-text",
    "name": "Offset image and text",
    "settings": [
    {
      "type": "image_picker",
      "id": "offset_image_bg",
      "label": "Featured image"
    },
    {
       "type":    "text",
       "id":      "offset-section-title",
       "label":   "Section Title",
       "default": "Title"
    },
    {
       "type":      "color",
       "id":        "offset-text-color",
       "label":     "Text color",
       "default":   "#38373E"
    },
    {
       "type":      "color",
       "id":        "offset-bg-color",
       "label":     "Background color",
       "default":   "#EBECE4"
    },
    {
       "type": "richtext",
       "id": "offset-section-content",
       "label": "Section Content",
       "default": "<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>"
    }
    ]
  }

  ],
  "presets": [
    {
      "name": "Product carousel slide",
      "category": "Product carousel slide"
    }
  ]
}
{% endschema %}
