<div class="cgc-carousel-wrapper">
  <div class="owl-carousel owl-theme">

      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'Featured-background-image' %}
              {%- if block.settings.Featured-product-full-bg -%}
                {%- assign featured_image = block.settings.Featured-product-full-bg | img_url: '1800x' -%}
              {%- else -%}
                {%- assign about_image = 'blank.svg' | asset_url -%}
              {%- endif -%}
              <div class="item">
                <div class="featured-image-container" style="background-image:url({{ featured_image }}); background-position:center; background-repeat: no-repeat; background-size: cover; ">

                </div>
              </div>
          {% when 'featured-product'  %}
             <div class="item full-item">
               <div class="featured-bg-color" style="background-color:{{ block.settings.slide-bg-color }}"></div>
               <div class="carousel-text-content">
                 <h2 style="color:{{ block.settings.slide-bg-color }}">{{ block.settings.title }}</h2>
                 <div class="carousel-text-underline" style="border: 2px solid {{ block.settings.slide-bg-color }}"></div>
                 <p style="color:{{ block.settings.slide-bg-color }}">{{ block.settings.details-one}}</p>
                 <p style="color:{{ block.settings.slide-bg-color }}">{{ block.settings.details-two }}</p>
                 <p style="color:{{ block.settings.slide-bg-color }}">{{ block.settings.details-three }}</p>
                 <p style="color:{{ block.settings.slide-bg-color }}">{{ block.settings.details-four }}</p>
                 <i class="fas fa-arrow-right" style="color:{{ block.settings.slide-bg-color }}"></i>
               </div>

                <img src="{{ block.settings.product-image | img_url: '1024x' }}" alt="" class="carousel-product-image">
             </div>
        {% endcase %}
      {% endfor %}

  </div>
</div>


<script type="text/javascript">
 $(".owl-carousel").owlCarousel({
   lazyLoad:true,
   loop:true,
   autoplay:false,
   autoplayTimeout:8000,
   autoplayHoverPause:true,
   mouseDrag:true,
   touchDrag:true,
   singleItem: true,
   items : 1,
   itemsDesktop : false,
   itemsDesktopSmall : false,
   itemsTablet: false,
   dotsData: true,
   itemsMobile: false
 });

//  onChanged: function(e) {
//
// }

$(window).resize(function(){

       if ($('header').width() == 320 ){

              console.log("I am working;")

       }

});
</script>


{% schema %}
{
  "name": "Product carousel slide",
  "max_blocks": 8,
  "settings": [

  ],
  "blocks": [
  {
    "type": "Featured-background-image",
    "name": "Featured image",
    "settings": [
      {
      "type": "image_picker",
      "id": "Featured-product-full-bg",
      "label": "Full background image"
     }
    ]
  },
  {
    "type": "featured-product",
    "name": "Featured product",
    "settings": [
    {
     "id": "title",
     "type": "text",
     "label": "Featured product title",
     "default": "Title"
    },
    {
        "type": "image_picker",
        "id": "product-image",
        "label": "Product Image"
    },
    {
     "id": "featured-slide-description",
     "type": "textarea",
     "label": "Featured product description",
     "default": "Featured Description"
    },
    {
     "id": "details-one",
     "type": "text",
     "label": "featured slide details",
     "default": "Featured Details"
    },
    {
     "id": "details-two",
     "type": "text",
     "label": "featured slide details",
     "default": "Featured Details"
    },
    {
     "id": "details-three",
     "type": "text",
     "label": "featured slide details",
     "default": "Featured Details"
    },
    {
     "id": "details-four",
     "type": "text",
     "label": "featured slide details",
     "default": "Featured Details"
    },
    {
       "type":      "color",
       "id":        "slide-bg-color",
       "label":     "Slide background color",
       "default":   "#AAB7B4"
    },
    {
       "type":      "color",
       "id":        "text-color",
       "label":     "Text color",
       "default":   "#AAB7B4"
    }
    ]
  }
],
  "presets": [
    {
      "name": "Product carousel slide",
      "category": "Product carousel slide"
    }
  ]
}
{% endschema %}
